.wrapper {
    &:hover {
        cursor: pointer;
    }
    font-family: var(--default-font-family);
    line-height: 24px;
    font-weight: 700;
    font-size: 1.6rem;
    border-radius: 4px;
    min-width: 32px;
    height: 36px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    border: none;
    + .wrapper {
        margin-left: 16px;
    }
    &.disabled {
        pointer-events: none;
        opacity: 0.5;
        user-select: none;
    }
}
.icon + .title,
.title + .icon {
    margin-left: 8px;
}
.icon {
    width: 17px;
    height: 17px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.primary {
    &:hover {
        background: linear-gradient(0deg, rgba(0, 0, 0, 0.06), rgba(0, 0, 0, 0.06)), #fe2c55;
    }
    &:active {
        background: linear-gradient(0deg, rgba(0, 0, 0, 0.12), rgba(0, 0, 0, 0.12)), #fe2c55;
    }
    color: #fff;
    width: 100px;
    background-color: var(--primary);
    border: none;
}
.outline {
    color: var(--primary);
    border-color: currentColor;
    &:hover {
        background-color: rgba(254, 44, 85, 0.06);
    }
}
.small {
    width: 88px;
    height: 28px;
}
.medium {
    &:hover {
        background-color: rgba(22, 24, 35, 0.03);
    }
    border: 1px solid rgba(22, 24, 35, 0.12);
    font-weight: 600;
    border-radius: 2px;
    background-color: #fff;
    width: 114px;
}

.large {
    width: 356px;
    height: 48px;
}
.rounded {
    border-radius: 52px;
}
.circle {
    border-radius: 100%;
    width: 32px;
    height: 32px;
}
