.wrapper {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.container {
    width: var(--default-layout-width);
    display: flex;
    padding-right: var(--default-layout-horizontal-spacer-right);
    padding-left: var(--default-layout-horizontal-spacer-left);
}
.content {
    flex: 1;
}
