.container {
    width: 100%;
    --search-border-radius: 92px;
    --search-btn-width: 52px;
    height: var(--default-layout-header-height, 60px);
    box-shadow: 0px 1px 1px rgb(0 0 0 / 12%);
}
.wrapper {
    height: 100%;
    display: flex;
    justify-content: center;
}
.inner {
    padding-right: var(--default-layout-horizontal-spacer-right);
    padding-left: var(--default-layout-horizontal-spacer-left);
    height: 100%;
    width: var(--default-layout-width);
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.logo {
    &:hover {
        cursor: pointer;
    }
    height: 42px;
}


//Action
.action {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.login {
    &:hover {
        background: linear-gradient(0deg, rgba(0, 0, 0, 0.06), rgba(0, 0, 0, 0.06)), #fe2c55;
        cursor: pointer;
    }
    font-family: var(--default-font-family);
    margin-left: 16px;
    background-color: var(--primary-color);
    color: #fff;
    line-height: 24px;
    font-weight: 700;
    font-size: 1.6rem;
    border: 1px solid rgba(22, 24, 35, 0.12);
    border-radius: 4px;
    width: 100px;
    height: 36px;
}
.menu-btn {
    &:hover {
        cursor: pointer;
    }
    padding: 0 4px;
    margin-left: 16px;
    font-size: 2rem;
    width: 20px;
    height: 20px;
    background-color: transparent;
}
//Move up button
.custom-move-up-button {
    position: relative;
    color: #fff;
    font-size: 2rem;
    background-color: var(--primary-color);
    flex-direction: column;
    justify-content: end;
    padding: 2px;
    box-shadow: 0 2px 8px rgb(0 0 0 / 6%);
    &:hover {
        background-color: #ef2a50;
    }
    div {
        top: 11px;
        border-radius: 2px;
        position: absolute;
        width: 13px;
        height: 1.4px;
        background-color: #fff;
    }
}
//Get app button
.custom-get-app-button {
    box-shadow: 0 2px 8px rgb(0 0 0 / 6%);
    width: max-content;
    line-height: 30px;
    height: 32px;
    font-size: 1.4rem;
    color: rgba(22, 24, 35, 0.75);
    padding: 8px;
    background-color: #fff;
    border: 1px solid rgba(22, 24, 35, 0.12);
    &:hover {
        border-color: rgba(22, 24, 35, 0.2);
        background: linear-gradient(0deg, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0)), #fff;
    }
}
// Action continue
.current-user {
    display: flex;
    + .user-avatar {
        margin-left: 24px;
    }
}
.action-btn {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2.2rem;
    background: transparent;
    height: var(--default-square-edge);
    width: var(--default-square-edge);
    cursor: pointer;
    + .action-btn {
        margin-left: 16px;
    }
}
.user-avatar {
    height: var(--default-square-edge);
    width: var(--default-square-edge);
    border-radius: 50%;
    object-fit: cover;
    cursor: pointer;
}
.message {
    margin-left: 15px;
}
.notification {
    font-family: var(--default-font-family);
    position: absolute;
    height: 20px;
    width: 20px;
    background-color: var(--primary-color);
    border-radius: 50%;
    color: #fff;
    font-size: 1.4rem;
    line-height: 2rem;
    font-weight: 600;
    right: -4px;
    top: -7px;
}
